doctype html 
head 
  title Natours | #{title}
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='image/png' href='img/favicon.png')
  link(href='http://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
  link(rel='stylesheet' href='/css/style.css')

body 
  //-Header
  include partials/_header

  //- Content
  block content 

  //- Footer
  include partials/_footer